@import "borderRadius";

// should be applied to an UL
@mixin actionMenu
{
  $menuWidth: 65px;
  $menuBackgroundColor: #DDD;
  $submenuBackgroundColor: $menuBackgroundColor;
  $hoveredMenuItemBackgroundColor: #CCC;
  $activeMenuItemBackgroundColor: $menuBackgroundColor;

  @include border-radius( 5px, 5px, 5px, 5px );

  float:       left;
  padding:     0;
  margin:      0;
  list-style:  none;
  position:    relative;
  width:       $menuWidth;
  
  background-color: $menuBackgroundColor;

  li
  {
    float:    left;
    z-index:  200;

    @include border-radius( 5px, 5px, 5px, 5px );

    a
    {
      display:         block;
      float:           left;
      width:           $menuWidth;
      height:          3em;  /* make the menu entries bigger */
      line-height:     3em;  /* and center them vertically */
      text-decoration: none;
    }

    span
    {
      display:      block;
      float:        left;
      width:        $menuWidth - 10px;
      height:       3em;  /* make the menu entries bigger */
      line-height:  3em;  /* and center them vertically */
      text-align:   center;
    }

  }

  > li
  {
    margin-left:  5px;
    margin-top:   5px;

    &:last-child {
      margin-bottom: 5px;
    }
  }

  ul
  {
    padding:    0;
    margin:     0;
    list-style: none;
    width:      $menuWidth;
    height:     auto;
    position:   absolute;
    left:       -9999px;
    top:        0;

    li
    {
      padding-left:   3px;
      padding-top:    3px;
      padding-right:  3px;

      @include border-radius( 0px, 0px, 0px, 0px );

      &:first-child {
        @include border-radius( 0px, 5px, 0px, 0px );
      }

      &:last-child {
        padding-bottom:  3px;
        @include border-radius( 0px, 0px, 5px, 5px );
      }
    }
  }

  // --- hovering -------------------------------------------------------------

  > li:hover
  {
    position: relative;
    
    background-color: $hoveredMenuItemBackgroundColor;
    @include border-radius( 5px, 0px, 0px, 5px );

    span
    {
      margin-right: 10px;
    }

    li
    {
      background-color: $hoveredMenuItemBackgroundColor;
    }
  }

  :hover ul
  {
    left: $menuWidth;
  }
}