@import "actionMenu";
@import "borderRadius";
@import "button";

.featureRequest-summary {
  margin-bottom: 20px;  

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.featureRequest-sidebar {
  float: left;
}

.featureRequest-main-area {
  margin-left: 80px;
}

.featureRequest-votes {
  @include border-radius( 5px, 5px, 5px, 5px );
  display: inline-block;
  border: 1px solid #CCC;
  min-width: 63px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 10px;

  .counter {
    display: block;
    font-size: 1.8em;
    font-weight: bold;
  }

  .label {
    display: block;
    font-size: 0.7em;
  }
}

.featureRequest-actions > ul {
  @include actionMenu;
}

.featureRequest-actions > ul li a {
  @include button( white, medium );
}

.featureRequest-actions > ul li div {
  @include button( white, medium );
}
